<%- include('./partials/head') %>

  <article>

    <div class="name">

      <h1>
        <%= member.name %>
      </h1>

      <h2><%= member.surname %></h2>

      <button id="namebutton">Knop</button>
    </div>

    <div class="degree" style="display: none;">

      <h1><%= member.nickname %></h1>
      <button id="degreebutton">Knop</button>

    </div>

    <div class="photo" style="display: none;">
      <img src="<%= member.avatar %>">
      <button id="photobutton">Knop</button>

    </div>

    <div class="about" style="display: none;">

      <p><%= member.bio %></p>
      <button id="aboutbutton">Knop</button>

    </div>

    <div class="socials" style="display: none;">

      <span class="instagram">
        <a href="https://www.instagram.com/suusharsveld/" target="_blank">
          <img src="styles/image/instagram.png" alt="instagram">
        </a>
      </span>

      <span class="linkedin">
        <a href="https://www.linkedin.com/in/suusharsveld/" target="_blank">
          <img src="styles/image/linkedin.png" alt="linkedin">
        </a>
      </span>

      <span class="portfolio">
        <a href="https://www.suusharsveld.nl/" target="_blank">
          <img src="styles/image/Trashcan.png" alt="portfolio">
        </a>
      </span>

      <span class="email">
        <a href="mailto:info@suusharsveld.nl" target="_blank">
          <img src="styles/image/envelope.png" alt="portfolio">
        </a>
      </span>
      <br>
      <button id="socialsbutton">Knop</button>

    </div>

  </article>


  <%- include('./partials/foot') %>